[Unit]
Description=myapp
After=syslog.target

[Service]
User=ubuntu
ExecStart=java -Dloader.path=/opt/myapp/conf -Dspring.profiles.active=server -jar /opt/myapp/myapp.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target